@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
:root {
  --button-color: rgb(11, 114, 133);
  --color-bg: #f1f3f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: #212529;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 85%;
}

.heading {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 425px) {
  .container {
    max-width: 95%;
  }
}
