---
---

<section id='canvas'>
  <div>
    <h1>Thank you for checking out my project!</h1>
    <p>Want to see more of what I'm working on?</p>
    <a href='http://internetdrew.com' target='_blank'>Check out my portfolio</a>
  </div>
</section>

<style>
  section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  div {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  h1 {
    font-size: clamp(2rem, 5vw, 2.8rem);
    font-weight: 700;
  }
  p {
    font-size: clamp(1.8rem, 5vw, 2.2rem);
    font-weight: 400;
  }

  a {
    font-size: clamp(1.8rem, 8vw, 2rem);
    font-weight: 400;
    color: rgb(219 39 119);
    align-self: center;
    transition: all;
    transition-duration: 0.3s;
  }

  a:hover {
    scale: 1.1;
  }
</style>

<script>
  import JSConfetti from 'js-confetti';

  const jsConfetti = new JSConfetti();

  jsConfetti.addConfetti();

  const canvas = document.getElementById('canvas');
</script>
