---
import spriteWithFilm from '/sprite-film.jpg';
import Button from './Button.astro';
---

<section>
  <div class='container'>
    <div id='for-newbies'>
      <h2 class='heading'>For Lovers of Film and Simplicity</h2>
      <p class='story'>
        Forget shutter speeds, aperture, or light meters — just load a roll of
        film and hit the shutter button.
      </p>
      <img src={spriteWithFilm} alt='' />
    </div>
    <form action='/api/create-checkout-session' method='POST'>
      <Button type='primary' text='Buy Now' />
    </form>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
  }
  .story {
    font-size: 1.6rem;
  }

  #for-newbies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container img {
    width: 40rem;
    max-width: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin: 2rem 0;
  }

  @media (max-width: 1075px) {
    section {
      margin-top: 6rem;
    }
  }

  @media (max-width: 768px) {
    .container h2 {
      font-size: 1.6rem;
    }

    .container p {
      font-size: 1.2rem;
      margin-top: 0.3rem;
    }
  }
</style>
