---
---

<header>
  <div class='container'>
    <div class='intro'>
      <h1>ILFORD SPRITE 35-II</h1>
      <p>
        Your favorite <span id='wavy'>disposable</span> reusable 35mm camera
      </p>
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    padding: 6rem;
  }

  .logo {
    font-size: 2rem;
    font-weight: 800;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  .intro p {
    font-size: 1.5rem;
    text-align: center;
  }

  #wavy {
    text-decoration: line-through;
    text-decoration-color: #c92a2a;
    text-decoration-style: wavy;
    rotate: 45deg;
  }

  @media (max-width: 768px) {
    header {
      padding: 4rem 0;
    }
    .logo {
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }
    .intro h1 {
      font-size: 1.6rem;
    }
  }
</style>
