---
import twoCams from '../../public/ilford35-2-5.png';
---

<section class='hero'>
  <div class='container'>
    <div class='left'>
      <h2>Shoot your favorite 35mm film and keep the camera.</h2>
      <p>Lightweight. Pocket-sized. Reusable.</p>
      <div class='buttons'>
        <a href='' class='btn'>Buy Now</a>
        <a href='#about' class='btn learn-btn'>Learn More</a>
      </div>
    </div>
    <div class='right'>
      <img src={twoCams} alt='' />
    </div>
  </div>
</section>

<style>
  .hero {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.2rem;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .left h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.8rem;
  }

  .left p {
    font-size: 1.8rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .btn {
    padding: 0.2rem 1.6rem;
    border-radius: 100px;
    background-color: var(--button-color);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #faf9f9;
  }
  .learn-btn {
    color: var(--button-color);
    background-color: transparent;
    border: 1px solid var(--button-color);
  }

  .right img {
    flex: 1;
    max-width: 100%;
  }

  @media (min-width: 1670px) {
    .left {
      max-width: 45%;
    }

    .container {
      max-width: 75%;
    }
  }

  @media (max-width: 1075px) {
    .hero {
      padding: 0;
    }

    .container {
      flex-direction: column-reverse;
      padding-left: 0;
    }
    .right {
      margin-bottom: 4rem;
    }

    .left h2,
    .left p {
      text-align: center;
    }

    .left h2 {
      font-size: 2rem;
    }

    .left p {
      font-size: 1.4rem;
      margin-top: 0.3rem;
    }
    .buttons {
      margin-top: 1rem;
      flex-direction: column;
    }

    .btn {
      padding: 0.2rem 1.6rem;
    }

    .left {
      align-items: center;
    }
  }
</style>
