---
import twoCams from '/sprite-hero-hd.png';
import Button from './Button.astro';
---

<section class='hero'>
  <div class='container'>
    <div class='left'>
      <h2>Shoot your favorite 35mm film and keep the camera.</h2>
      <p>Lightweight. Pocket-sized. Reusable.</p>
      <div class='buttons'>
        <form action='/api/create-checkout-session' method='POST'>
          <Button type='primary' text='Buy Now' />
        </form>
        <Button type='secondary' text='Learn More' anchor='for-newbies' />
      </div>
    </div>
    <div class='right'>
      <img src={twoCams} alt='' />
    </div>
  </div>
</section>

<style>
  .hero {
    display: flex;
    justify-content: center;
    color: #212529;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.2rem;
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 45%;
  }
  .left h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.8rem;
  }

  .left p {
    font-size: 1.8rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  .right {
    flex: 1;
  }
  .right img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1670px) {
    .left {
      max-width: 45%;
    }

    .container {
      max-width: 75%;
    }
  }

  @media (max-width: 1075px) {
    .hero {
      padding: 0;
    }

    .container {
      flex-direction: column-reverse;
      padding-left: 0;
    }
    .right {
      margin-bottom: 4rem;
    }
    .left {
      max-width: 90%;
    }

    .left h2,
    .left p {
      text-align: center;
    }

    .left h2 {
      font-size: 1.6rem;
    }

    .left p {
      font-size: 1.2rem;
      margin-top: 0.3rem;
    }
    .buttons {
      margin-top: 1rem;
      flex-direction: column;
    }

    .btn {
      padding: 0.2rem 1.6rem;
    }

    .left {
      align-items: center;
    }
  }
</style>
