---
import Card from './Card.astro';
---

<section>
  <div class='container'>
    <div id='best-shot'>
      <h2 class='heading'>Take Your Best Shot</h2>
      <p class='story'>The right film to get the job done.</p>
      <img src={} alt='' />
    </div>
    <div class='cards-container'>
      <Card iconClass='ph-sun' label='Sunny' flash={false} />
      <Card iconClass='ph-cloud' label='Cloudy' flash={true} />
      <Card iconClass='ph-house' label='Indoors' flash={true} />
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
  }
  .story {
    font-size: 1.6rem;
  }

  #best-shot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container img {
    width: 40rem;
    max-width: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 2rem;
  }

  .cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 2rem;
  }

  @media (max-width: 1075px) {
    .container h2 {
      font-size: 2rem;
    }

    .container p {
      font-size: 1.4rem;
      margin-top: 0.3rem;
    }
  }

  @media (max-width: 1024px) {
    .cards-container {
      width: 80%;
      grid-template-columns: 1fr;
    }
  }
</style>

<script src='https://cdn.lordicon.com/ritcuqlt.js'></script>
